<header>
      <div class="moniker">
        <a href="#">
<img src="{{ "images/rubens-circle-cropped-with-border.png" | relURL }}" width="100" height="100">
</a>
        <div class="nametext">
          <strong>Ruben Pierich</strong>
        </div><div class="description-text">Ruben Pierich is a Python developer focused on the latest developments in the language and web frameworks.  Ruben enjoys tutoring and teaching new developers about new developments in software development.  When he's not developing software he likes to play the guitar in a local blues band.
        <div>
            <a style="color: white;" href="https://twitter.com/rpierich">@rpierich</a> <a style="color: white;" href="https://codechalleng.es/profiles/WholeCoder">PyBites</a>
        </div>
        </div>
      </div>
    </header>
    <nav id="nav_menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Archive</a></li>
        <li><a href="#">Subscribe</a></li>
        <li><a href="#">Bio</a></li>
        <li><a href="#">RSS</a></li>
    </nav>
