{{ define "main" }}

 <section id="s1">Section 1</section>
    
    <section id="s2">
        {{ .Content }}
        <br /><br />
        Projects <br />
        <ul>
        {{ range first 1 (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul><br /><br />
        Presentations<br /><br />
        <ul>
            {{ range first 1 (where .Site.RegularPages "Type" "in" "presentations").ByDate.Reverse }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </section>
    <section id="s3">Section 3</section>

{{ end }}
